<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>AppointmentController</servlet-name>
  	<display-name>AppointmentController</display-name>
  	<description></description>
  	<servlet-class>com.thejobs.controller.AppointmentController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AvailabilityController</servlet-name>
  	<display-name>AvailabilityController</display-name>
  	<description></description>
  	<servlet-class>com.thejobs.controller.AvailabilityController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ConsultantController</servlet-name>
  	<display-name>ConsultantController</display-name>
  	<description></description>
  	<servlet-class>com.thejobs.controller.ConsultantController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>JobseekerController</servlet-name>
  	<display-name>JobseekerController</display-name>
  	<description></description>
  	<servlet-class>com.thejobs.controller.JobseekerController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminController</servlet-name>
  	<display-name>AdminController</display-name>
  	<description></description>
  	<servlet-class>com.thejobs.controller.AdminController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ConsultantAuthController</servlet-name>
  	<display-name>ConsultantAuthController</display-name>
  	<description></description>
  	<servlet-class>com.thejobs.controller.ConsultantAuthController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AppointmentController</servlet-name>
  	<url-pattern>/appointmentmanager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AppointmentController</servlet-name>
  	<url-pattern>/getappointment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AvailabilityController</servlet-name>
  	<url-pattern>/availabilitymanager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AvailabilityController</servlet-name>
  	<url-pattern>/getavailability</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ConsultantController</servlet-name>
  	<url-pattern>/consultantmanager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ConsultantController</servlet-name>
  	<url-pattern>/getconsultant</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>JobseekerController</servlet-name>
  	<url-pattern>/jobseekermanager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>JobseekerController</servlet-name>
  	<url-pattern>/getjobseeker</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminController</servlet-name>
  	<url-pattern>/adminmanager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminController</servlet-name>
  	<url-pattern>/getadmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ConsultantAuthController</servlet-name>
  	<url-pattern>/consultantauthmanager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ConsultantAuthController</servlet-name>
  	<url-pattern>/getconsultantauth</url-pattern>
  </servlet-mapping>
</web-app>
